
.border-pane {
    -fx-padding: 5 5 5 5;
}

.commbox {
    -fx-padding: 5 5 5 5;
    -fx-spacing: 6;
}

.vbox {
    -fx-padding: 5 5 5 5;
    -fx-spacing: 6;
}

.hbox {
    -fx-padding: 5 5 5 5;
    -fx-spacing: 6;
}
.hbox_flex_center {
      display: flex;
      justify-content: center;
      align-items: center;
}

.button{
    -fx-pref-height:32
}

.grid_pane {
    -fx-alignment:center;
    -fx-hgap:10;
    -fx-vgap:10
}